
@{
    ViewBag.Title = "Manage Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="adminApp" ng-controller="adminController"
	 ng-init="init('@ViewBag.Subjects', '@ViewBag.AgeGroups', 
	 '@ViewBag.Locations', '@ViewBag.SubLocations', '@ViewBag.Categories', '@ViewBag.Item')">
	<h2>Manage Library</h2>
	<div class="navbar navbar-normal">
		<div class="container">
			<div>
				<ul class="nav navbar-nav">
					<li class="sub-navbar" ng-class="nav.id === curTab ? '__bold' : ''" 
						ng-repeat="nav in navbar" ng-click="changeTab(nav.id)">{{nav.name}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-show="curTab === adminTab.requests">
		<table class="table table-bordered table-responsive table-striped">
			<thead>
				<tr>
					<th>Item Name</th>
					<th>Requested By</th>
					<th>Date Requested</th>
					<th>Item Recieved?</th>
				</tr>
			</thead>
			<tr ng-repeat="item in requests">
				<td>{{item.Name}}</td>
				<td>{{item.AssociatedUser.FirstName + ' ' + item.AssociatedUser.LastName}}</td>
				<td>{{item.RequestDateJS}}</td>
				<td><button type="button" class="btn btn-default" ng-click="checkItemOut(item)">Check Out</button></td>
			</tr>
		</table>
	</div>

	<div ng-show="curTab === adminTab.checkouts">
		<table class="table table-bordered table-responsive table-striped">
			<thead>
				<tr>
					<th>Item Name</th>
					<th>Checked Out By</th>
					<th>Date Checked Out</th>
					<th>Item Returned?</th>
				</tr>
			</thead>
			<tr ng-repeat="item in checkouts">
				<td>{{item.Name}}</td>
				<td>{{item.AssociatedUser.FirstName + ' ' + item.AssociatedUser.LastName}}</td>
				<td>{{item.CheckOutDateJS}}</td>
				<td><button type="button" class="btn btn-default" ng-click="checkItemIn(item)">Return</button></td>
			</tr>
		</table>
	</div>
	<div ng-show="curTab === adminTab.addInventory">

		@*use MVC here for uploading a file (although this is still triggered via Angular controller)*@
		@using (Html.BeginForm("UploadImage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id="fileSubmitForm"}))
		{
		<div>
			<div class="form-group">
				<label class="col-md-2 control-label">Name</label>
				<input type="text" class="form-control" ng-model="item.Name" />
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Description</label>
				<textarea type="text" class="form-control" ng-model="item.Description"></textarea>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">Image</label>
				<input fd-input type="file" name="httpFilePost" id="httpFilePost" accept="image/*"/>
			</div>
			<div class="form-group">
				<label for="ddlCategory" class="form-label">Item Type:</label>
				<select id="ddlLocation" class="dropdown form-control"
						ng-model="item.Category"
						ng-options="c.Name for c in categories track by c.ID"></select>
			</div>
			<div class="form-group" ng-repeat="n in selectedAgeGroups track by $index">
				<label for="ddlAgeGroup" class="form-label">Age Group {{$index + 1}}:</label>
				<select id="ddlAgeGroup" class="dropdown form-control"
					ng-model="selectedAgeGroups[$index]"
					ng-options="a.Name for a in ageGroups track by a.ID"></select>
			</div>
			<div class="form-group" ng-repeat="s in selectedSubjects track by $index">
				<label for="ddlSubject" class="form-label">Subject {{$index + 1}}:</label>
				<select id="ddlSubject" class="dropdown form-control"
						ng-model="selectedSubjects[$index]"
						ng-options="s.Name for s in subjects track by s.ID"></select>
			</div>
			<div class="form-group">
				<label for="ddlLocation" class="form-label">Location:</label>
				<select id="ddlLocation" class="dropdown form-control"
						ng-model="item.Location" ng-change="locationChanged()"
						ng-options="l.Name for l in locations track by l.ID"></select>
			</div>
			<div class="form-group">
				<label for="ddlLocation" class="form-label">Sub-Location:</label>
				<select id="ddlLocation" class="dropdown form-control"
						ng-model="item.SubLocation"
						ng-options="sl.Name for sl in subLocationsToDisplay track by sl.ID"></select>
			</div>
		</div>
		<div>
			<button type="button" class="btn btn-primary" ng-click="saveItem()">Save Item</button>
		</div>
		}
	</div>
	<div>
		<error ng-attr-error-message="errorMessage" ng-attr-has-error="hasError"></error>
	</div>
</div>
